<h5>Coffee Order:</h5>
<form [formGroup] = "this.ordersService.form">
  <input
    placeholder="Customer Name"
    formControlName="customerName"
    type="text"
    class="input-field col s12"
  />

  <input
    class="input-field col s12"
    placeholder="Order Number"
    formControlName="orderNumber"
    type="number"
  />

  <button
    class="myBtn waves-effect waves-light btn col s4"
    *ngFor="let coffee of coffees"
    (click)="addCoffee(coffee)"
  >
    {{ coffee.NA }}
  </button>

  <ul class="collection">
    <li *ngFor="let coffee of coffeeOrder">
      <span class="col s4"> [{{ coffee.id }}] {{coffee.item.QT}} {{ coffee.item.NA }} </span>
      <a class="col s1" (click)="removeCoffee(coffee)">x</a>
      <a class="col s1" (click)="plusCoffee2(coffee)">+</a>
    </li>
  </ul>

  <button class="myBtn waves-effect waves-light btn col s12" (click)="onSubmit()">
    Submit
  </button>
</form>
